/* NULL STYLE */
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-weight: 500;
	font-size: 15px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
.wraper{
padding-bottom: 300px;
}
input,
button,
textarea {
	font-family: inherit;
	background-color: #ffff0034;
		display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}
input {
	

	padding-bottom: 2px;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 700;
}

/* STYLE */

.mb {
	margin-bottom: 20px;
}
.wraper {
}
.container {
	padding-top: 30px;
	max-width: 1300px;
	margin: 0 auto;
	overflow: hidden;
}
.titl-left {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	margin-bottom: 40px;
	margin-right: 50px;
}

.titl-text {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 26%;
}

.titl {
	display: flex;
	height: 80px;
	width: 100%;
}
.number {
	width: 80px;
	border: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	border-right: none;
}
.titl .number {
	width: 85px;
}

.titl-tit {
	text-align: center;
	padding: 0 140px;
	border: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 900;
	width: 100%;
}

.p02 {
	/* display: flex; */
	display: grid;
	grid-template-columns: 80px 60% 11em 11em 9.4em;
}

.p02 .number {
	width:  80px;
}
.p02-period {
	padding: 2px;
	display: flex;
	align-items: center;
	margin-right: 1.5%;
	border: 1px solid #000;
}
.p02-input1 {
	border: 1px solid #000;
	position: relative;
}
.p02-input1::after {
	content: "(рік)";
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}
.p02-input3 input,
.p02-input1 input,
.p02-input2 input {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2px;
}
.p02-input1 input {
	/* width: 150px; */
	width: 100%;
}
.p02-input2 input {
	/* width: 80px; */
	width: 100%;
}
.p02-input2 {
	border: 1px solid #000;
	margin-left: 9.5%;
	position: relative;
}
.p02-input2::after {
	content: "(місяць)";
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}
.p02-input3 {
	border: 1px solid #000;
	margin-left: 9.5%;
	position: relative;
}

.p02-input3::after {
	content: "(місяць)";
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}
.kv {
	position: relative;
}
.p02-input2::after {
	content: "(квартал)";
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

.p02-input3 input {
	width: 100%;
}

.p031 {
	display: flex;
	align-items: center;
}

.p031-input {
	border: 1px solid #000;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 2px;

}

.p031-input p{
	border-left:1px solid #000;
	height: 180%;
	padding-left: 2px;
}

.p031-input input {
	width: 6%;
	padding: 1px;
}

.p031 .number {
	width: 85px;
}

.p04 {
	display: flex;
	height: 80px;
}

.p04-right {
	width: 80px;
	border: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: none;
}
.p04-inputs {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
	flex-direction: column;
	position: relative;
}
.p04-subtitl{
	width: 100%;
	text-align: center;
}
/* .p04-inputs::after {
	content: "(повне найменування (прізвище, ім’я, по батькові (за наявності)) платника податків згідно з реєстраційними документами, дата та номер договору (угоди))";
	position: absolute;
	left: 55%;
	bottom: -15px;
	width: 100%;
	transform: translate(-50%, 0);
} */
.p04-input1 {
	height: 30px;
	/* padding-bottom: 10px; */
	margin-bottom: 10px;
	width: 100%;
}
.p04-input1 input {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 20px;
}
.p04-input2 {
	align-self: end;
	display: flex;
}
.p04-input3 {
	align-self: end;
	display: flex;
}
.p04-column {
	display: flex;
	margin-bottom: -15px;
}

.p041 {
	display: flex;
	align-items: center;
}
.number {
}
.p041-text {
	flex: 1 1 auto;
	border: 1px solid #000;
	padding: 2px;
}
.p041-input {
	border: 1px solid #000;
	padding: 0.5px;
	margin-left: 20px;
}

.p06 {
	height: 90px;
	display: flex;
}

.p06-adres {
	flex: 1 1 auto;
	border: 1px solid #000;
	padding: 5px;
	display: flex;
	flex-direction: column;
}
.p06-adres input {
	margin-top: 20px;
	width: 100%;
}
.p06-body {
	display: flex;
	flex-direction: column;
	width: 350px;
	margin-left: 20px;
}
.p06-body__index {
	display: flex;
	border: 1px solid #000;
	align-items: center;
	justify-content: space-between;
	height: 30px;
}
.p06-body__tel {
	border: 1px solid #000;
	border-top: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 30px;
}

.p06-body__mail {
	align-items: center;
	border: 1px solid #000;
	border-top: none;
	display: flex;
	justify-content: space-between;
	height: 30px;
}

.p06-body__index p,
.p06-body__tel p,
.p06-body__mail p {
	flex: 0 1 50%;
	border-right: 1px solid #000;
	height: 30px;
	padding-top: 3px;
	padding-left: 3px;
}

.p-tex {
	padding: 2px;
	margin-top: 30px;
	display: flex;
	gap: 30px;
	position: relative;
}
.p-tex::after {
	position: absolute;
	content: "(грн)";
	right: 0;
	bottom: -60px;
}

.p-tex__p {
	width: 200px;
}
.p-tex__input {
	flex: 1 1 auto;
	position: relative;
}
.p-tex__input::after {
	content: "(найменування контролюючого органу, до якого подається звітність)";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 100%);
}
.p-tex__input input {
	width: 100%;
}

.hed,
.hed2 {
	border: 1px solid #000;
	/* display: flex; */
	display: grid;
	grid-template-columns: 4.61em 4.61em auto 10em 10em 7em;
	border-top: none;
	overflow: hidden;
}
.hed1 {
	margin-top: 60px;
	border-top: 1px solid #000;
	height: 60px;
}
.hed2 {
	height: 20px;
}

.hed-row {
}
.row {
	/* width: 60px; */
	border-right: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5px;
}
.hed-dod {
}
.dod {
	/* width: 60px; */
	border-right: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5px;
}
.hed-cente {
	padding: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.centr {
	padding: 2px;
	/* flex: 1 1 auto; */
	border-right: 1px solid #000;
}
.hed-text {
display: grid;
grid-template-columns: 10em 10em 7em;
}
.hed-text__1 {
	border-right: 1px solid #000;
	height: 100%;
	width: 10em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.hed-text__2 {
	border-right: 1px solid #000;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* width: 130px; */
}
.hed-text__3 {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* width: 100px; */
}

.w100 {
	width: 100%;
	border: 1px solid #000;
	text-align: center;
	border-top: none;
}

.centr-rr {
	display: flex;
	flex: 0 0 65em;
}
.centr-rr> p{
	padding: 2px;
	display: flex;
	padding-left: 3px;
	align-items: center;
}
.wid {
	width: 100%;
}
.centr-col {
	text-align: left;
	display: flex;
	flex-direction: column;
	border-left: 1px solid #000;
}
.centr-col .hed-text__1,
.centr-col .hed-text__2{
display: flex;
justify-content: start;
padding-left: 2px;
}
.centr-col .hed-text__1{
	border-bottom: 1px solid #000;
}
.on .centr-col .hed-text__1{
	border-bottom: none;
}
.hed-text__1 input,
.hed-text__2 input,
.hed-text__3 input{
	width: 9.1em;
	height: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
.hed-text__col{
	width: 26.79em;
overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.col {
	display: flex;
	align-items: center;
	justify-content: center;
}
.col:nth-child(1){
	border-bottom: 1px solid #000;
}
.on .col:nth-child(1),
.on .col{
	border-bottom:none;
}
.on .col .hed-text__1,
.on .col .hed-text__2{
	height: 210%;
}

.br .hed-text__2{
	border-right:none;
}

.widd{
	padding: 2px;
	width: 74.95em;
	border-right:1px solid #000;
}


.widd-centr {
	padding: 2px;
	display: flex;
	flex-direction: column;
	border-right:1px solid #000;
}
.column-crntr {
	border:1px solid #000;
	border-bottom:none;
	border-right:none;
	align-self: flex-end;
	display: grid;
	grid-template-columns: 20em 10em;
	padding-top: 2px;
	padding-left: 5px;
}
.column-centr__text {
		display: flex;
	justify-content: center;
	align-items: center;
	border-right:1px solid #000;
	height: 100%;
}
.column-centr__input {

}

.cheked {
	display: grid;
	grid-template-columns: 6em auto;
	border:1px solid #000;
	border-top:none;
}
.bt{
	border-top: 1px solid #000;
}
.cheked-chekbox {
	display: flex;
	justify-content: center;
	align-items: center;
	border-right:1px solid #000;
}
.cheked-text {
	padding: 2px;
}

.columns {
	display: grid;
	width: 68%;
	grid-template-columns: 9em 27em 27em;
	border:1px solid #000;
}

.bb{
	border-top:none;
}
.in{
padding-bottom: 3px;
}
.columns-one {
	display: flex;
	justify-content: center;
	align-items: center;
	border-right:1px solid #000;
	overflow: hidden;
}
.columns-two {
	border-right:1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.columns-thre {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.columns-two input,
.columns-thre input{
	width: 100%;
}

.col-date {
	display: flex;
	justify-content: space-between;
}
.col-date-left{
	width: 68%;
	display: grid;
	grid-template-columns: 30em auto;
	border:1px solid #000;
}
.col-date__data {
	padding-left: 4px;
	
	
}
.col-date__input {
		border-left:1px solid #000;
	
}
.col-date__input input{
	width: 100%;
}
.col-date-right {
}
.col-date__text {
}

.kerivnik {
	display: grid;
	grid-template-columns: 22em auto;
	padding-bottom: 20px;
}
.kerivnik-text {

}
.kerivnik-inprt {
	display: flex;
	align-self: end;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.kerivnik-inprt p{
	padding-top: 5px;
	position: relative;
}
.kerivnik-inprt p::after{
	position: absolute;
	content:'______________________________________________';
	top: -15px;
	left: -50%;
	width: 100%;
}


.kerivnik-inprt input{
	width: 70%;
	height: 30px;
}

.regrnumber {
	padding-bottom: 20px;
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.regrnumber-text {
}
.regrnumber-input {
	border:1px solid #000;
}

.regrnumber-input input{
	width: 100%;
	height: 100%;
}
.pb{
	padding-bottom: 5px;
}